.App {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  background-color: aliceblue;
  height: 100vh;
  overflow-y: auto;
}
.user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.user-list li {
  flex: 1
}